# [作業目標]

1. [簡答題] 請問下列四種不同的 DataFrame 選取結果有什麼差異？

```
df.loc[ '2013-01-01', 'A'] 
df.loc[ '2013-01-01', ['A', 'B'] ] 
df.loc[ '2013-01-01':'2013-01-02', 'A' ] 
df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] 
```


2. 請根據提供的資料，選擇出下列的要求：

```
# - select the first 3 rows.
# - select the odd rows. (index = 1, 3, 5)
# - select the last 2 columns.
# - select the even columns. (index = 0, 2, 4)
```

3. 請根據提供的資料，選擇出下列的要求：

```
# - 1. filtered by first column > 20?
# - 2. filtered by first column + second column > 50
# - 3. filtered by first column < 30 or second column > 30
# - 4. filtered by total sum of row > 100
```

# 作業

### 1. [簡答題] 請問下列四種不同的 DataFrame 選取結果有什麼差異？

```
df.loc[ '2013-01-01', 'A'] 
df.loc[ '2013-01-01', ['A', 'B'] ] 
df.loc[ '2013-01-01':'2013-01-02', 'A' ] 
df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] 
```

In [2]:
print("df.loc[ '2013-01-01', 'A'] 選到2013-01-01列 ，A行的值，只有一筆資料")
print("df.loc[ '2013-01-01', ['A', 'B'] ] ,選到第2013-101-01 列，A和B行的值，兩筆資料")
print("df.loc[ '2013-01-01':'2013-01-02', 'A' ] ，選到2013-01-01和2013-01-02列， A行的值 ")
print("df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] ，選到2013-01-01至2013-01-05列， A到C行的值 ")

df.loc[ '2013-01-01', 'A'] 選到2013-01-01列 ，A行的值，只有一筆資料
df.loc[ '2013-01-01', ['A', 'B'] ] ,選到第2013-101-01 列，A和B行的值，兩筆資料
df.loc[ '2013-01-01':'2013-01-02', 'A' ] ，選到2013-01-01和2013-01-02列， A行的值
df.loc[ '2013-01-01':'2013-01-05', 'A':'C'] ，選到2013-01-01至2013-01-05列， A到C行的值

### 2. 請根據提供的資料，選擇出下列的要求：

```
# - select the first 3 rows.
# - select the odd rows. (index = 1, 3, 5)
# - select the last 2 columns.
# - select the even columns. (index = 0, 2, 4)
```

In [3]:
# 記得先 Import 正確的套件
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
print(df[0:3])
print(df.iloc[[1,3,5],[0,1,2]])
print(df.iloc[[0,1,2,3,4,5],[-2,-1]])
print(df.iloc[[0,1,2,3,4,5],[0,2]])

       col1      col2      col3
0  0.185458  0.618438  1.176694
1  0.089338  0.588592  0.416001
2  0.470458 -0.066482  1.425779
       col1      col2      col3
1  0.089338  0.588592  0.416001
3  1.432685 -0.484616 -0.309483
5  0.952785 -0.938682  0.351253
       col2      col3
0  0.618438  1.176694
1  0.588592  0.416001
2 -0.066482  1.425779
3 -0.484616 -0.309483
4 -0.536047 -0.507682
5 -0.938682  0.351253
       col1      col3
0  0.185458  1.176694
1  0.089338  0.416001
2  0.470458  1.425779
3  1.432685 -0.309483
4 -0.139563 -0.507682
5  0.952785  0.351253

In [5]:
'''
Your Code
'''

'\nYour Code\n'

### 3. 請根據提供的資料，選擇出下列的要求：

```
# - 1. filtered by first column > 20?
# - 2. filtered by first column + second column > 50
# - 3. filtered by first column < 30 or second column > 30
# - 4. filtered by total sum of row > 100
```

In [6]:
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
print(df)

     0   1   2   3
0   25  20  31  14
1   10  30  15  39
2   17  13  30  21
3   24  26  21  36
4   30  15  38  23
5   22  18  26  15
6   19  33  18  37
7   18  15  20  27
8   10  15  23  13
9   14  30  29  18
10  20  32  35  17
11  28  14  33  21
12  16  34  17  34
13  37  23  24  35
14  38  31  32  31

In [42]:
print(df[0] > 20)

x = df[[0,1]]
print(x> 50)

y = df[0]<30 
z = df[1] > 30
print(y | z )

0      True
1     False
2     False
3      True
4      True
5      True
6     False
7     False
8     False
9     False
10    False
11     True
12    False
13     True
14     True
Name: 0, dtype: bool
        0      1
0   False  False
1   False  False
2   False  False
3   False  False
4   False  False
5   False  False
6   False  False
7   False  False
8   False  False
9   False  False
10  False  False
11  False  False
12  False  False
13  False  False
14  False  False
0      True
1      True
2      True
3      True
4     False
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13    False
14     True
dtype: bool

In [71]:
c = []
for i in range(15):
    print(df.iloc[i].sum() >100)

#    if a > 100:
        
#        b = df.iloc[i] 
#        data = pd.DataFrame()
#        data = data.append(b)
#        print(b)
#        c = []
#    d = c.append(b.name)
#    print(d)

False
False
False
True
True
False
True
False
False
False
True
False
True
True
True