# [作業目標]

1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```


2. 一個包含兩個欄位的 DataFrame，將每個數字減去

```
* 1) 該欄位的平均數
* 2) 該筆資料平均數
```

3. 承上題，請問：

```
* 1) 哪一比的資料總合最小
* 2) 哪一欄位的資料總合最小
```

# 作業

### 1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```

In [131]:
# 記得先 Import 正確的套件

import pandas as pd
import numpy as np

In [132]:
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
print(df)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [133]:
#計算每個不同種類 animal 的 age 的平均數
for a in set(df["animal"]):
    print(a , df[df["animal"] == a ]["age"].mean())

#將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
print(df.sort_values(by = ["age"], ascending = True, axis = 0))
a = df.sort_values(by = ["age"], ascending = True, axis = 0)
print(a.sort_values(by = ["visits"], ascending = False, axis = 0))

#將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
print(df.replace("yes","True").replace("no","False"))

snake 2.5
dog 5.0
cat 2.5
  animal  age  visits priority
c  snake  0.5       2       no
f    cat  2.0       3       no
a    cat  2.5       1      yes
b    cat  3.0       3      yes
j    dog  3.0       1       no
g  snake  4.5       1       no
e    dog  5.0       2       no
i    dog  7.0       2       no
d    dog  NaN       3      yes
h    cat  NaN       1      yes
  animal  age  visits priority
f    cat  2.0       3       no
b    cat  3.0       3      yes
d    dog  NaN       3      yes
c  snake  0.5       2       no
e    dog  5.0       2       no
i    dog  7.0       2       no
a    cat  2.5       1      yes
j    dog  3.0       1       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
  animal  age  visits priority
a    cat  2.5       1     True
b    cat  3.0       3     True
c  snake  0.5       2    False
d    dog  NaN       3     True
e    dog  5.0       2    False
f    cat  2.0       3    False
g  snake  4.5       1    False
h    cat  NaN       1     True
i    dog  7.0       2    False
j    dog  3.0       1    False

### 2. 一個包含兩個欄位的 DataFrame，將每個數字減去

* 1) 該欄位的平均數
* 2) 該筆資料平均數

In [134]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
print(df)

          0         1         2
0  0.014002  0.279095  0.372458
1  0.361664  0.791759  0.343972
2  0.063043  0.557165  0.644863
3  0.423042  0.576708  0.880521
4  0.066807  0.280344  0.105371

In [135]:
print(df[[0,1,2]].mean())
print(df-df[[0,1,2]].mean())

0    0.185712
1    0.497014
2    0.469437
dtype: float64
          0         1         2
0 -0.171709 -0.217919 -0.096979
1  0.175952  0.294745 -0.125465
2 -0.122669  0.060151  0.175426
3  0.237331  0.079694  0.411084
4 -0.118905 -0.216670 -0.364066

In [136]:
print(df[0:4].mean())
print(df - df[0:4].mean())

0    0.215438
1    0.551182
2    0.560453
dtype: float64
          0         1         2
0 -0.201435 -0.272086 -0.187996
1  0.146226  0.240577 -0.216481
2 -0.152395  0.005983  0.084409
3  0.207604  0.025526  0.320067
4 -0.148631 -0.270838 -0.455082

### 3. 承上題，請問：

1) 哪一比的資料總合最小
2) 哪一欄位的資料總合最小

In [152]:
df

          0         1         2
0  0.014002  0.279095  0.372458
1  0.361664  0.791759  0.343972
2  0.063043  0.557165  0.644863
3  0.423042  0.576708  0.880521
4  0.066807  0.280344  0.105371

In [153]:
print(df.sum(axis = 1).nsmallest(1))

4    0.452522
dtype: float64

In [151]:
print(df.sum(axis = 0).nsmallest(1))

0    0.928558
dtype: float64