作業目標:<br>
1. 熟悉索引與欄位設定
2. 使用樞紐建立新資料

作業重點:<br>
1. 多維度索引、欄位是有順序性的須注意
2. 使用樞紐建立資料需要注意參數<br>
  index : 新資料的索引名稱<br>
  columns : 新資料的欄位名稱<br>
  values :新資料的值名稱

題目: 運用下列分數資料重新建構資料，將索引(index)依序改為sex、class、student_id，欄位依序改成chinese_score、english_score、math_score<br><br>
score_df = pd.DataFrame([[1,50,80,70,'boy',1],[2,60,45,50,'boy',2],[3,98,43,55,'boy',1],[4,70,69,89,'boy',2],[5,56,79,60,'girl',1],[6,60,68,55,'girl',2],[7,45,70,77,'girl',1],[8,55,77,76,'girl',2],[9,25,57,60,'girl',1],[10,88,40,43,'girl',3],[11,25,60,45,'boy',3],[12,80,60,23,'boy',3],[13,20,90,66,'girl',3],[14,50,50,50,'girl',3],[15,89,67,77,'girl',3]],columns=['student_id','math_score','english_score','chinese_score','sex','class'])

In [1]:
import pandas as pd
import numpy as np
score_df = pd.DataFrame([[1,50,80,70,'boy',1],[2,60,45,50,'boy',2],[3,98,43,55,'boy',1],[4,70,69,89,'boy',2],[5,56,79,60,'girl',1],[6,60,68,55,'girl',2],[7,45,70,77,'girl',1],[8,55,77,76,'girl',2],[9,25,57,60,'girl',1],[10,88,40,43,'girl',3],[11,25,60,45,'boy',3],[12,80,60,23,'boy',3],[13,20,90,66,'girl',3],[14,50,50,50,'girl',3],[15,89,67,77,'girl',3]],columns=['student_id','math_score','english_score','chinese_score','sex','class'])

In [26]:
print(score_df)

    student_id  math_score  english_score  chinese_score   sex  class
0            1          50             80             70   boy      1
1            2          60             45             50   boy      2
2            3          98             43             55   boy      1
3            4          70             69             89   boy      2
4            5          56             79             60  girl      1
5            6          60             68             55  girl      2
6            7          45             70             77  girl      1
7            8          55             77             76  girl      2
8            9          25             57             60  girl      1
9           10          88             40             43  girl      3
10          11          25             60             45   boy      3
11          12          80             60             23   boy      3
12          13          20             90             66  girl      3
13          14          50             50             50  girl      3
14          15          89             67             77  girl      3

In [27]:
#將索引(index)依序改為sex、class、student_id，欄位依序改成chinese_score、english_score、math_score

In [29]:
print(score_df.melt(id_vars =['chinese_score','english_score','math_score']))

    chinese_score  english_score  math_score    variable value
0              70             80          50  student_id     1
1              50             45          60  student_id     2
2              55             43          98  student_id     3
3              89             69          70  student_id     4
4              60             79          56  student_id     5
5              55             68          60  student_id     6
6              77             70          45  student_id     7
7              76             77          55  student_id     8
8              60             57          25  student_id     9
9              43             40          88  student_id    10
10             45             60          25  student_id    11
11             23             60          80  student_id    12
12             66             90          20  student_id    13
13             50             50          50  student_id    14
14             77             67          89  student_id    15
15             70             80          50         sex   boy
16             50             45          60         sex   boy
17             55             43          98         sex   boy
18             89             69          70         sex   boy
19             60             79          56         sex  girl
20             55             68          60         sex  girl
21             77             70          45         sex  girl
22             76             77          55         sex  girl
23             60             57          25         sex  girl
24             43             40          88         sex  girl
25             45             60          25         sex   boy
26             23             60          80         sex   boy
27             66             90          20         sex  girl
28             50             50          50         sex  girl
29             77             67          89         sex  girl
30             70             80          50       class     1
31             50             45          60       class     2
32             55             43          98       class     1
33             89             69          70       class     2
34             60             79          56       class     1
35             55             68          60       class     2
36             77             70          45       class     1
37             76             77          55       class     2
38             60             57          25       class     1
39             43             40          88       class     3
40             45             60          25       class     3
41             23             60          80       class     3
42             66             90          20       class     3
43             50             50          50       class     3
44             77             67          89       class     3